.logo-wrapper {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.time-task {
  font-size: 12px;
  width: 80px;
}

.task {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input-item {
  margin-bottom: 1.5rem;
}

.content-task {
  flex-grow: 1;
}

.container {
  height: inherit;
}

.icon {
  height: 340px;
}

@media only screen and (min-width: 500px) {
  .App {
    width: 500px;
  }
}
