.logo-wrapper {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.time-task {
  font-size: 12px;
  width: 60px;
}

@media only screen and (min-width: 600px) {
  .App {
    width: 500px;
  }
}
